* { box-sizing: border-box; }

#cuadro1 {
  width: 50%;
  height: 650px;
  float: left;
  background-color: blue;
}

.cuadraditos {
  margin: 5px;
  background-color: #B3D3E1;
  width: 20%;
  height: 150px;
  float: left;
}

img {
  width: 100%;
  height: 150px;
}
